*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;     /* Per centrare: in verticale 0 mentre in orizzontale auto */ /*Non vanno utilizzate percentuali in verticale*/
    border: 1px solid black;
}
.mt{
    margin-top: 16px;
}
.square{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}
.border{
    border-color: black red green blue;
    border-style: solid dashed;
    border-width: 4px;
}
.border-radius{
    border-radius: 50% 30% 10px 20px;
}
.square-inner{
    background-color: grey;
}
.padding{
    padding: 20px 10px 40px;
}
.margin{
    margin: 30px;
}
/* .text-examples h2{
    font-size: 2rem;
}
.text-examples p{
    font-size: .8rem;
} */
.mb{
    margin-bottom: 16px;
}


.text-examples{
    font-size: 2rem;
}
.text-em{
    font-size: 2em; /* 2*(2rem) cioè del font padre, non guarda browser font */
}
.text-rem{
    font-size: 2rem; /* 2*16 se browser font è 16 */
}
.display{
    display: inline-block;
}


.text-center{
    text-align: center;
}
.text-center p{
    text-align: start;
}

/* line-height definisce l'alteza di ogni riga e centra verticalmente le parole */